html, body
{
    background-image: url("./images/melody-p-wFN9B3s_iik-unsplash-reduced-50-percent.jpg");
    margin: 0;
    padding: 0;
    height: 100%;
}

@font-face
{

    font-family: "MyWebFont";
    src: url(./fonts/AbrilFatface-Regular.ttf) format("woff2");
    src: url(./fonts/AbrilFatface-Regular.ttf) format("woff");
}

.container
{
    display: flex;
    height: 100%;
}

.left-column
{
    flex-basis: 41%;
    font-family: "MyWebFont", sans-serif;
    color: whitesmoke;
    text-align: center;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.5);
}

a
{
    color: rgb(160, 160, 160);
    text-decoration: none;
}

.right-column
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
}

.top-card
{
    background-color: rgb(247, 244, 244);
    font-weight: 900;
    padding: 125px 200px 50px 200px;
    height: 100%;
}

.form-card
{
    background-color: white;
    padding: 75px 200px;
    align-self: stretch;
    height: 100%;
}

label, input
{
    display: block;
    border-radius: 5px;
}

input
{
    border-color: #e5e7eb;
}

input:focus
{
    outline: none;
    border-color: blue;
    border-width: 2px;
    box-shadow: 2px 2px rgb(175, 173, 173);
}

.first-name, .email, .password
{
    float: left;
    margin-right: 100px;
}

.last-name, .phone-number, .confirm-password
{
    float: left;
}

.error
{
    border-color: red;
    border-width: 1px;
}

.error-message
{
    color: red;
    font-size: 12px;
    margin: 0;
}

.bottom-card
{
    background-color: rgb(247, 244, 244);
    padding: 50px 100px 100px 50px;
    align-self: stretch;
    height: 100%;
}

button
{
    background-color: blue;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    color: white;
    font-weight: 900;
}

.link
{
    color: blue;
}