body
{
    background-image: url("./images/melody-p-wFN9B3s_iik-unsplash-reduced-50-percent.jpg");
    margin: 0;
    padding: 0;
}

.container
{
    display: flex;
}

.left-column
{
    flex-basis: 41%;
    font-family: "MyWebFont", sans-serif;
    color: whitesmoke;
    text-align: center;
    align-self: center;
    background-color: rgba(0,0,0,0.5);
}

.right-column
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.top-card
{
    background-color: rgba(247, 244, 244, 1);
    font-weight: 900;
    padding: 125px 200px;
}

.form-card
{
    background-color: white;
    padding: 75px 100px;
    align-self: stretch;
}

label, input
{
    display: block;
    border-radius: 5px;
}

input
{
    border-color: #e5e7eb;
}

input:focus
{
    outline: none;
    border-color: blue;
    border-width: 2px;
    box-shadow: 2px 2px rgb(175, 173, 173);
}

.first-name, .email, .password
{
    float: left;
    margin-left: 200px;
    margin-right: 200px;
}

.last-name, .phone-number, .confirm-password
{
    float: left;
}

.error
{
    border-color: red;
    border-width: 1px;
}

.error-message
{
    color: red;
    font-size: 12px;
    margin: 0;
}